@import 'ember-paper';

html, body, body > div.ember-view {
  @extend .flex;
  @extend .layout-column;
}

body {
  background-color: color($color-blue-grey, '50');
}

.cs-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
