{{outlet "navbar"}}

<div class="flex layout-row">

  <div class="flex-5 flex-gt-sm-20">
  </div>

  <div class="flex-90 flex-gt-sm-60 layout-column">

    <div class="flex-5 flex-gt-sm-20">
    </div>

    <div class="flex-90 flex-gt-sm-60 layout-column">

      {{#paper-card class="flex layout-column" as |card|}}

        {{#card.content class="flex layout-column"}}

          <div class="cs-center flex">

            <span>
              You are on &nbsp;
            </span>

            <b>
              <u>
                {{browser-name}}
              </u>
            </b>

            <span>
              .
            </span>

          </div>

        {{/card.content}}

      {{/paper-card}}

    </div>

    <div class="flex-5 flex-gt-sm-20">
    </div>

  </div>

  <div class="flex-5 flex-gt-sm-20">
  </div>

</div>
