<PaperToolbar>
  <PaperToolbarTools>
    <h2>
      ember-browser-checker
    </h2>
    <span class="flex"></span>
    <PaperButton @iconButton={{true}} @href="https://github.com/djsegal/ember-browser-checker" target="_blank">
      <FaIcon @icon="github" @prefix="fab" @size="2x" />
    </PaperButton>
  </PaperToolbarTools>
</PaperToolbar>
